body {
  width: 40em;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  color: #666;
  font-family: sans-serif;
}

div.head {
  margin: 0.2em 0;
  padding: 0;
}
p.shareurl { 
  content: url(/shareurl.png);
  position: fixed;
  top: 0;
  right: 0;
  color: #AA0000;
  font-weight: bold;
  font-size: small;
  margin: 0;
  padding: 0.2em 0.2em 0 0;
}
h1 {
  padding: 0;
  margin: 0;
  color: black;
  text-shadow: #4d4d4d 2px 2px 0;
  font-size: 500%;
  letter-spacing: -0.1em;
  content: url(/logo.png);
}
h1 .rouge { 
  color: #AA0000;
  text-shadow: #800000 2px 2px 0;
}
p.slogan {
  padding: 0.2em 2em;
  margin: 0;
  font-weight: bold;
  font-size: small;
  color: #333333;
  text-shadow: #4d4d4d 0 0 1px;
}

div.content { 
  background-color: #f3f3f3;
  margin: 0;
  padding: 1em 1.5em;
  border-radius: 1em;
  -moz-border-radius: 1em;
}

div.content .right {
  width: 16em;
  margin-left: 20em;
}
div.content .left {
  float: left;
  width: 16em;
}
div.content .foot {
  clear: both;
}

h2 {
  font-weight: bold;
  font-size: x-large;
  font-variant: small-caps;
  color: #aaa;
  text-shadow: #ddd 2px 1px 0;
  margin: 0;
  padding: 0.1em 0;
}

.note {
  color: #aaa;
  font-size: small;
}

.box {
  padding: 0.2em 0.4em 0.4em;
  margin: 0.5em 0;
  background-color: white;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
.box p { 
  padding: 1em 0 0;
  margin: 0;
}
.box p {
  padding: 0 0.1em;
  margin: 0;
}
.box .name {
  overflow: hidden;
}
.box .size {
  font-size: x-small;
  color: #888;
}

p.righticon { 
  float: right;
  text-align: right;
  margin: 0;
}
a.remove:before {
  content: url(/remove.png);
}
a.remove {
  font-size: 0;
}

ul#remote {
  padding: 0;
  margin: 0.2em 0 0.5em 0;
  list-style-type: none;
}
ul#remote li a:before {
  content: url(/file.png);
  padding: 0 1px;
  margin: 0;
}
ul#remote li a {
  text-decoration: none;
  color: black;
}
ul#remote li a:hover {
  text-decoration: none;
  color: black;
  text-shadow: #333 1px 1px 2px;
}
ul#remote li .meta {
  display: block;
  margin-left: 18px;
  color: #888;
  font-size: x-small;
}
.size {
  font-weight: bold;
}
.by {
  text-shadow: #aaa 0 1px 0;
  font-family: monospace;
}

label[for='file']:before {
  content: url(/add.png);
  padding: 4px 1px 0;
}
label[for='file'] {
  color: #777;
  font-weight: bold;
  font-size: small;
}
input[type=file] {
  font-size: x-small;
  width: 10em;
  overflow: hidden;
  color: #aaa;
}
