body {
  width: 50em;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  color: #333;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}

header {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  padding: 0;
  margin: 0 0.1em;
  color: #40b040;
  text-shadow: #006000 2px 2px 0;
  font-size: 600%;
  font-weight: black;
  letter-spacing: -0.16em;
  line-height: 0.9em;
}
h1 .dot { 
  color: #4040b0;
  text-shadow: #2020b0 2px 2px 0;
}
p.slogan {
  color: #208020;
  padding: 0;
  margin: 0 auto;
}

#loading {
  font-size: large;
  width: 20em;
  margin: 1em auto;
  color: #ccc;
  text-align: center;
}

.content { 
  margin: 1.5em 0;
  padding: 0;
}

.content .top {
  margin: 0 auto 1em;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #8080c0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.content .top p {
  line-height: 1.2em;
  margin: 0 auto;
  padding-bottom: 0.5em;
}
.content .top p:first-child {
  padding-top: 0.5em;
}
.content .top .link a {
  font-weight: bold;
  text-decoration: underline;
  color: white;
  font-size: 110%;
}

.content .right, .content .left { 
  width: 23.5em;
  margin: 0;
  padding: 0.7em 0.5em;
  min-height: 14em;
}
.content .right {
  margin-left: 25.5em;
  background-color: #50b050;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
.content .left {
  float: left;
  background-color: #5050b0;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
footer {
  clear: both;
}
.about {
  text-align: center;
  font-size: x-small;
}

h2 {
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}

.note {
  color: #007;
  font-size: small;
}

.box {
  vertical-align: middle;
  padding: 0.4em;
  margin: 0.5em 0;
  background-color: rgba(255,255,255,0.7);
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
.box .inner {
  text-align: center;
}
.box p {
  padding: 0 0.1em;
  margin: 0;
  line-height: 1.4em;
}
.box p .name {
  overflow: hidden;
  margin-right: 5em;
}
.box .control {
  margin-top: -1.4em;
  padding: 0;
  text-align: right;
  line-height: 1em;
}
.box .control .size {
  font-size: x-small;
  color: #666;
  vertical-align: text-top;
}
.control a.remove {
  vertical-align: text-top;
  font-weight: bold;
  color: #aaa;
  text-decoration: none;
}
.control a.remove:hover {
  color: #c33;
  text-decoration: none;
}

.file:before {
  content: url(/file.png);
  padding: 0 1px;
  margin: 0;
  vertical-align: -2px;
}
.file {
  text-decoration: none;
  color: #333;
  padding-left: 0.4em;
}
a.file:hover {
  text-decoration: none;
  color: black;
  text-shadow: #333 0 0 0.5px;
}

.upload {
  margin: 0 auto;
}
progress {
  border-radius: 2.5px;
  border: 1px solid black;
}
.progress { 
  display: inline-block;
}

ul#remote {
  padding: 0.2em 0.1em;
  margin: 0.2em 0;
  list-style-type: none;
}
ul#remote li .meta {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 0.8em;
  padding-left: 16px;
  color: #888;
  font-size: x-small;
}
.size {
  font-weight: bold;
}
.by {
  font-family: monospace;
}

label[for='file'] {
  color: #007000;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
}
input[type=file] {
  font-size: x-small;
  width: 15em;
  overflow: hidden;
  color: #aaa;
  margin: 0.1em 0.1em 0.5em;
  cursor: pointer;
}
